<ul class="posts">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Published</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
              <td>{{ moment(post.timestamp).fromNow() }}</td>
              <td><a href="{{ url_for('.edit', id=post.id) }}">{{ post.title }}</a></td>
              <td>{{ post.author.username }}</td>
              <td>{% if post.published==True %}Published{% else %}Draft{% endif %}</td>
            </tr>
            {% endfor %}
    </table>
</ul>