{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Create Post{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Create Post</h1>
</div>
<div>

    {{ wtf.quick_form(form) }}  
    
    <form method='post'>
      <textarea class="form-control" id="markdown" name="post_content"></textarea>
      <div>
        <input class='btn btn-default' onclick="" id='submit' name='submit' type='submit' value='Save'>
        <input class='btn btn-default' id='publish' name='publish' type='submit' value='Publish'>
    </div>
    </form>
    
</div>

<script type='text/javascript'>
      var simplemde = new SimpleMDE({ element: document.getElementById('markdown') });
</script>
{% endblock %}



{% block scripts %}
{{ super() }}
{% endblock %}