{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Theogeek - {{ action }} Post{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ action }} Post</h1>
</div>
<div>   
    <b>What am I called?</b><span style="float: right"><b>Status: {{ form.status.data }}</b></span>
    <form method="POST" class="form" role="form">
        {{ form.csrf_token }}
        <input type="text" class="form-control" name="title" value="{{ form.title.data }}"><br>
        <b>Tell me a story</b>
        <textarea class="form-control" id="markdown" name="body" value={{ form.body }}           <!-- don't know what's going on here; if I put ">" at end it shows up on page -->
        <input class='btn btn-default' onclick="" id='submit' name='save-draft' type='submit' value='Save Draft'>
        <input class='btn btn-default' onclidk="" id='publish' name='publish' type='submit' value='Publish'>
        <input class='btn btn-default' onclidk="" id='publish' name='close' style="float: right" type='submit' value='Close'>
    </form> 
</div>
<br>


{% endblock %}

{% block scripts %}
{{ super() }}
<script type='text/javascript'>
      var simplemde = new SimpleMDE({
                                     element: document.getElementById('markdown'),
                                     toolbar: ["bold", "italic", "strikethrough", "heading",
                                                "|", "quote","unordered-list", "ordered-list",
                                                "|", "link", "image", "|", "code", "table", "|",
                                                "preview", "side-by-side", "fullscreen", "|", "guide"]
                                     });
</script>
{% endblock %}