{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Theogeek - Post {{ action }} Version {{ timestamp }} {{ moment(timestamp).format('YYYY/MM/DD, h:mm a') }}{% endblock %}

{% block page_content %}

<div class="page-header">
    <h3>Post {{ form.active_post.data }} {{ action }} - {{ moment(timestamp).format('YYYY/MM/DD, h:mm a') }}</h3>
</div>
<div>   
    <input type="hidden" name="post_id" value="{{ form.id.data }}">
    <form method="POST" class="form" role="form">
        {{ form.csrf_token }}
        <span class="btn-group"  style="float: right">
          <input type="submit" class="btn btn-default" onclidk="" name="submit" value="Close">
        </span>
        <br><br>
        <div><b>What am I called?</b><span name="post_status" style="float: right"><b>Status: {{ form.status.data }}</b></span></div>
        <input type="text" class="form-control" name="title" value="{{ form.title.data }}"><br>
        <b>Tell me a story</b>
        <textarea class="form-control" id="markdown" name="body" value={{ form.body }}
        <span class="btn-group"  style="float: right">
            <input type="submit" class="btn btn-default" onclidk="" name="submit" value="Close">
        </span><span id=result></span>
        <!-- <span class="container"> -->
          
        <!-- </span> -->
    </form> 
        
</div>
<br>


{% endblock %}

{% block scripts %}
{{ super() }}
<script type='text/javascript'>
      var simplemde = new SimpleMDE({
                                     forceSync: true,
                                     tabSize: 4,
                                     element: document.getElementById('markdown'),
                                     toolbar: false
                                     });
</script>
{% endblock %}
