{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Theogeek - {{ action }} Post{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ action }} Post</h1>
</div>
<div>   
    <form method="POST" class="form" role="form">
        {{ form.csrf_token }}
        <input type="hidden" name="post_id" value="{{ form.id.data }}">
        <input type="hidden" name="post_type" value="{{ form.post_type.data }}">
        <p><a class="btn btn-default" href=# id=quick-submit>Quick Save</a>
        <span class="btn-group"  style="float: right">
            <input type="submit" class="btn btn-default" onclick="" name="submit" value="Save Draft">
            <input type="submit" class="btn btn-default" onclidk="" name="submit" value="Publish & Close">
            <input type="submit" class="btn btn-default" onclidk="" name="submit" value="Close">
        </span>
        <br><br>
        <div><b>What am I called?</b><span name="post_status" style="float: right"><b>Status: {{ form.status.data }}</b></span></div>
        <input type="text" class="form-control" name="title" value="{{ form.title.data }}"><br>
        <b>Tell me a story</b>
        <textarea class="form-control" id="markdown" name="body" value={{ form.body }}
        <p><a class="btn btn-default" href=# id=quick-submit>Quick Save</a>
        <span class="btn-group"  style="float: right">
            <input type="submit" class="btn btn-default" onclick="" name="submit" value="Save Draft">
            <input type="submit" class="btn btn-default" onclidk="" name="submit" value="Publish & Close">
            <input type="submit" class="btn btn-default" onclidk="" name="submit" value="Close">
        </span><span id=result></span>
    </form> 
        
</div>
<br>


{% endblock %}

{% block scripts %}
{{ super() }}
<script type='text/javascript'>
      var simplemde = new SimpleMDE({
                                     forceSync: true,
                                     tabSize: 4,
                                     autosave: {
		enabled: true,
		uniqueId: "MyUniqueID",
		delay: 1000 },
                                     element: document.getElementById('markdown'),
                                     toolbar: ["bold", "italic", "strikethrough", "heading",
                                                "|", "quote","unordered-list", "ordered-list",
                                                "|", "link", "image", "table", "|",
                                                "preview", "side-by-side", "fullscreen", "|", "guide"]
                                     });
</script>
<script type=text/javascript>
  $(function() {
    $('a#quick-submit').bind('click', autosave);
  });
  
  function autosave() {
      $.getJSON($SCRIPT_ROOT + '/_quick_save', {
        post_id: $('input[name="post_id"]').val(),
        post_status: $('input[name="post_status"]').val(),
        post_title: $('input[name="title"]').val(),
        post_body: $(document.getElementById('markdown')).val(),
        post_type: $('quicksave').val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    };

  $(function(){
    setInterval(autosave,20000);
  });
</script>
{% endblock %}
