{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Theogeek - {{ action }} Post{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>{{ action }} Post</h1>
    <div> Revision Version: </span><span id=version_number>{{ version_number }}</span> | <span name="post_date" id="post_date"> Created: {{ moment(post.timestamp).format('YYYY/MM/DD, h:mm a') }} | Last edit: {{ moment(post.timestamp_edited).format('YYYY/MM/DD, h:mm a') }}</span></div>
</div>
<div>   
    <input type="hidden" name="post_id" id="post_id" value="{{ form.id.data }}">
    <form method="POST" class="form" role="form">
        {{ form.csrf_token }}
        <div class="btn-group"><a class="btn btn-default" href=# id=quick-submit>Quick Save</a></div>
        <div class="btn-group"><a class="btn btn-default" href=# id=draft-save>New Version </a></div>
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Version History <span class="caret"></span></button>
          <ul class="dropdown-menu pre-scrollable">
            {% for version in history %}
              {% if version.id != form.id %}
              <li><a data-toggle="modal" href="#myModal{{ version.id }}">
                <a href="{{ url_for('.edit_history', id=version.id) }}" target="_blank">{{ moment(version.timestamp_edited).format('YYYY/MM/DD, h:mm a') }}</a>
              </a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <span class="btn-group"  style="float: right">
          <a class="btn btn-default" href=# name="published_switch" id=published-switch>{% if form.status.data=='Published' %}Unpublish{% else %}Publish{% endif %}</a>
          <input type="submit" class="btn btn-default" onclidk="" name="submit" value="Close">
        </span>
        <br><br>
        <div><b>What am I called?</b><span name="post_status" style="float: right; font-weight: bold" id="post_status">Status: {{ form.status.data }}</span></div>
        <input type="text" class="form-control" name="title" id="title" value="{{ form.title.data }}"><br>
        <div><b>Tell me a story</b></div>
        <textarea class="form-control" id="markdown" name="body" value={{ form.body }}
        <p><a class="btn btn-default" href=# id=quick-submit>Quick Save</a>
        <span class="btn-group"  style="float: right">
            <input type="submit" class="btn btn-default" onclidk="" name="submit" value="Close">
        </span><span id=result></span>
        <!-- <span class="container"> -->
          
        <!-- </span> -->
    </form> 
        
</div>
<br>


{% endblock %}

{% block scripts %}
{{ super() }}
<script type='text/javascript'>
      var simplemde = new SimpleMDE({
                                     forceSync: true,
                                     tabSize: 4,
                                     element: document.getElementById('markdown'),
                                     toolbar: ["bold", "italic", "strikethrough", "heading",
                                                "|", "quote","unordered-list", "ordered-list",
                                                "|", "link", "image", "table", "|",
                                                "preview", "side-by-side", "fullscreen", "|", "guide"]
                                     });
</script>
<script type=text/javascript>
  $(function() {
    $('a#quick-submit').bind('click', autosave);
  });
  
  $('a#quick-submit').click(function() {
    setInterval(autosave,20000);
  });
  
  function autosave() {
      $.getJSON($SCRIPT_ROOT + '/_quick_save', {
        post_id: $('input[name="post_id"]').val(),
        post_status: $('input[name="post_status"]').val(),
        post_title: $('input[name="title"]').val(),
        post_body: $(document.getElementById('markdown')).val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    };
 ;
</script>
<script type=text/javascript>
  $(function() {
    $('a#draft-save').bind('click', draftsave);
  });
  
  function draftsave() {
      $.getJSON($SCRIPT_ROOT + '/_draft_save', {
        post_id: $('input[name="post_id"]').val(),
        post_status: $('input[name="post_status"]').val(),
        post_title: $('input[name="title"]').val(),
        post_body: $(document.getElementById('markdown')).val()
      }, function(data) {
        $("#post_status").text(data.published);
        $("#post_title").text(data.title);
        $("#markdown").text(data.post_body);
        $("#post_id").val(data.post_id);
        $("#post_date").text(data.timestamp)
        $("#version_number").text(data.version_number);
        $("#history").html(data.history);
      });
      return false;
    };
 ;
</script>
<script>
  $(function() {
    $('a#published-switch').bind('click', published_switch);
  });
  
  function published_switch() {
      $.getJSON($SCRIPT_ROOT + '/_published_switch', {
        post_id: $('input[name="post_id"]').val(),
        published_switch: $('input[name="published_switch"]').val(),
        post_title: $('input[name="title"]').val(),
        post_body: $(document.getElementById('markdown')).val()
      }, function(data) {
        $("#result").text(data.result);
        $("#published-switch").text(data.published_switch);
        $("#post_status").text(data.post_status)
      });
      return false;
    };
</script>
{% endblock %}
